body {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #00989d;
}

.upper-box{
    position: relative;
    display: flex;
    height: 50%;
    background-color: #00989d;
}

.upper-box div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    border: white 1.5rem solid;
    
}
.circle{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.circle1{
    background-color: #fe8888;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 150px;
    z-index: 1;
}

.circle2{
    background-color: #FFDE59;
    width: 250px;
    height: 250px;
    top: 150px;
    left: 450px;
    z-index: 1;
}

.circle3{
    background-color: #fe8888;
    width: 100px;
    height: 100px;
    top: 150px;
    left: 1100px;
    z-index: 1;
}

.circle4{
    background-color: #fe8888;
    width: 100px;
    height: 100px;
    bottom: 650px;
    left: 150px;
    z-index: 1;
}

.circle5{
    background-color: #FFDE59;
    width: 100px;
    height: 100px;
    bottom: 400px;
    left: 450px;
    z-index: 1;
}

.circle6{
    background-color:#fe8888;
    width: 250px;
    height: 250px;
    top: 500px;
    left: 720px;
    z-index: 1;
}

#figure1{
        position: absolute;
        z-index: 1;
        left: 900px;
        bottom: 0px;
        width:450px
    }
    #figure2{
        position: absolute;
        bottom: 0px;
        width:900px;
        z-index: 1;
    }

    .triangle{
        position: absolute;
        right: 0;
        bottom: 0;
        border-style: solid;
        border-width: 0 0 0 250px;
        height: 0;
        z-index: 1;
    }

    .triangle-big {
        width: 0;
        height: 0;
        border-bottom: 800px solid #008037;
        border-left: 420px solid transparent;
        border-right:420px solid transparent;
        /* right: calc(50%-250px); */
        right: 400px;
    }

    .triangle-small {
        width: 0;
        height: 0;
        border-bottom: 550px solid #C9E265;
        border-left: 300px solid transparent;
        border-right:300px solid transparent;
        
    }

.visitor_link{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}
.visitor_body{
    background-color:#00989D;
    color: #FFDE59;
}
.visitor_title{
    margin-left: 60px;
    font-size: 25px;
}
.name{
    margin: 25px;
    font-size: 25px;
    
}
.namebox{
    height: 25px;

}
.email{
    margin: 25px;
    font-size: 25px;
}
.emailbox{
    height:25px
}

.submit{
    margin-left: 105px;
    width: 50px;
    height: 50px;
}
.button{
    height: 30px;
    width: 100px;
    color:#FFDE59;
    background-color: #fe8888;
    font-size: large;
}

.vcircle{
    position: absolute;
    border-radius: 50%;
}
.vcircle1{
border-radius: 50%;
width: 100px;
height: 100px;
background-color:#FFDE59;
left: 500px;
top: 150px;
z-index: 1;
}

.vcircle2{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    background-color:#fe8888;
    left: 400px;
    top: 50px;
    z-index: 1;
    }

.vcircle3{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color:#fe8888;
    left: 350px;
    top: 450px;
    z-index: 1;
    }
.vcircle4{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color:#FFDE59;
    left: 50px;
    top: 400px;
    z-index: 1;
    }